body {
    margin: 0;
    padding: 0 0.5em;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header > nav {
    padding: 0 1em 0 1em;
    display: flex;
    justify-content: space-between;
    background-color: greenyellow;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav > ul > li {
    margin-left: 2em;
    list-style: none;
}

main {
    display: flex;
}

.aside {
    width: 30%;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
}

.card {
    width: 70px;
    height: 150px;
    border: 1px solid black;
    border-radius: 0.25em;
    margin: 1em;
}

footer {
    margin-top: auto;
    text-align: center;
    background-color: greenyellow;
}